@import '../../Global.colors.scss';
@import '../../Global.alignment.scss';
@import url('https://fonts.googleapis.com/css2?family=Underdog&display=swap');
.container-landing-outer{
    font-family: 'Underdog', cursive;
    width:400px;
    height:400px;
    border: 2px solid black;
    border-radius: 10px;
    @include flexboxAlignCenter;
    @include flexDirection(column);
    background-color: $color-light-orange;

    .container-landing-header{
        @include flexboxAlignCenter;
        @include flexDirection(column);
    }

    .container-landing-options-container{
        @include flexboxAlignCenter;
        @include flexDirection(column);
        width: 100%;
        .container-landing-options{
            @include flexboxAlignCenter;
            @include flexDirection(row);
            justify-content: space-between;

            .container-landing-options-links{
                background-color:  $background-color-dark;
                margin: 5px;
                width: 150px;
                text-align: center;
                border: 2px solid black;
                border-radius: 10px;
                .landing-link{
                    text-decoration: none;
                    color:$text-color-orange;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}